<header class="site-header" style="background-color: rgba(45, 49, 60, .3);">
<div>
  <div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-8">
				
				  <ul>
					{% for my_page in site.pages %}
					  {% if my_page.title %}
						<a href="{{ my_page.url | prepend: site.baseurl }}">
						<li>
						<img src="/img/{{my_page.name_img}}" style="width:90px; height:90px"><br>
						<a class="page-link link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
						</li>
						</a>
					  {% endif %}
					{% endfor %}
					
				 </ul> 
				
			</div>
			<div class="col-md-2" style="padding-top:25px">
				<a class="site-title" href="{{ site.baseurl }}/">!!{{ site.title }}!!</a>
			</div>
			<div class="col-md-2">
				<img src="{{"/img/2.JPG"}}" style="width: 100% ; height: 150px; margin:10px">
			</div>
			
		</div>
	</div>
  </div>
</div>
</header>
